/* header */

header .container .navbar .collapse ul li button{
    background-color: #295D97;
    color: #ffffff;
}
.banner{
    background-color: #295D97;
}
.banner .carousel .carousel-inner .carousel-item img{
    height: 500px;
}
.banner .carousel .carousel-control-prev .carousel-control-prev-icon{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}