:root{
    --primary-background-color: #295D97;  
    --primary-background-light-color:#184580;
    --primary-background-dark-color:#0f1a47;
    --secondary-background-color: #1A2B79;
    --primary-color:#ffffff;
    --seconday-color:#19467F;
    --primary-font-family: 'poppinsregular';
    --secondary-font-family: 'poppinsbold';
    --font-primary-color: #000000;
}